@{
    ViewData["Title"] = "Scheduler";
}

<link rel="stylesheet" href="~/css/scheduler.css">
<link rel="stylesheet" href="~/css/pagination.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="scheduler-container">
    <div class="sidebar">
        <p class="filter-header">Filter</p>
        <p class="status-filter">By Status:</p>
        <form class="sidebar-form">
            <input type="checkbox" id="filter1" name="filter1" value="Failed">
            <label for="filter1">Rejected/Failed</label><br>
            <input type="checkbox" id="filter2" name="filter2" value="Shortlisted">
            <label for="filter2">Shortlisted</label><br>
            <input type="checkbox" id="filter3" name="filter3" value="Screening">
            <label for="filter3">For Screening</label><br>
            <input type="checkbox" id="filter4" name="filter4" value="HRInterview">
            <label for="filter4">For HR Interview</label><br>
            <input type="checkbox" id="filter5" name="filter5" value="TechnicalInterview">
            <label for="filter5">For Technical Interview</label><br>
            <input type="checkbox" id="filter6" name="filter6" value="TechnicalExam">
            <label for="filter6">For Technical Exam</label><br>
            <input type="checkbox" id="filter7" name="filter7" value="BackgroundCheck">
            <label for="filter7">Undergoing Background Check</label><br>
            <input type="checkbox" id="filter8" name="filter8" value="FinalInterview">
            <label for="filter8">For Final Interview</label><br>
            <input type="checkbox" id="filter9" name="filter9" value="JobOffer">
            <label for="filter9">Undergoing Job Offer</label><br>
            <input type="checkbox" id="filter10" name="filter10" value="Confirmed">
            <label for="filter10">Confirmed Job Offer</label><br>
            <input type="checkbox" id="filter11" name="filter11" value="NotConfirmed">
            <label for="filter11">Not Confirmed Job Offer</label><br>
            <input type="checkbox" id="filter12" name="filter12" value="Onboarding">
            <label for="filter12">Onboarding</label><br>
            <input type="checkbox" id="filter13" name="filter13" value="Deployed">
            <label for="filter13">Deployed</label><br>
        </form>
        <p class="date-filter">By Date:</p>
        <form class="sidebar-form">
            <label for="from">From:</label>
            <input type="date" id="from" name="from"><br>
            <label for="to">To:</label>
            <input type="date" id="to" name="to">
        </form>
    </div>
    <div class="applicant-container">
        <div class="applicant-header">
            <p class="applicant-title"> Job Applicants </p>
            <form>
                <input type="text" placeholder="Search applicants.." name="search" class="searchbar">
            </form>
        </div>
        <div class="applicant-table">
            <table id="applicant-info">
                <tr>
                    <th>Date Applied</th>
                    <th>Applicant Name</th>
                    <th>Job Title</th>
                    <th>Applicant Details</th>
                </tr>
                <tr>
                    <td>June 19, 2023</td>
                    <td>Applicant No. 1</td>
                    <td>Sample Job Title</td>
                    <td><button class="view-btn">View CV</button></td>
                </tr>
                <tr>
                    <td>June 20, 2023</td>
                    <td>Applicant No. 2</td>
                    <td>Sample Job Title</td>
                    <td><button class="view-btn">View CV</button></td>
                </tr>
                <tr>
                    <td>June 21, 2023</td>
                    <td>Applicant No. 3</td>
                    <td>Sample Job Title</td>
                    <td><button class="view-btn">View CV</button></td>
                </tr>
                <tr>
                    <td>June 22, 2023</td>
                    <td>Applicant No. 4</td>
                    <td>Sample Job Title</td>
                    <td><button class="view-btn">View CV</button></td>
                </tr>
                <tr>
                    <td>June 23, 2023</td>
                    <td>Applicant No. 5</td>
                    <td>Sample Job Title</td>
                    <td><button class="view-btn">View CV</button></td>
                </tr>
                <tr>
                    <td>June 26, 2023</td>
                    <td>Applicant No. 6</td>
                    <td>Sample Job Title</td>
                    <td><button class="view-btn">View CV</button></td>
                </tr>
                <tr>
                    <td>June 27, 2023</td>
                    <td>Applicant No. 7</td>
                    <td>Sample Job Title</td>
                    <td><button class="view-btn">View CV</button></td>
                </tr>
            </table>
            <div class="info-pagination">
                <button class="info-prev-btn" onclick="infoPrevBtn()">prev</button>
                <ul class="info-pagination-list">
                    <li class="info-link active" value="1" onclick="setInfoActiveLink()">1</li>
                    <li class="info-link" value="2" onclick="setInfoActiveLink()">2</li>
                    <li class="info-link" value="3" onclick="setInfoActiveLink()">3</li>
                </ul>
                <button class="info-next-btn" onclick="infoNextBtn()">next</button>
            </div>

            <table id="applicant-status">
                <tr>
                    <th>Date Applied</th>
                    <th>Applicant Name</th>
                    <th>Job Title</th>
                    <th>Status</th>
                </tr>
                <tr>
                    <td>June 26, 2023</td>
                    <td>Applicant No. 6</td>
                    <td>Sample Job Title</td>
                    <td>For Final Interview</td>
                </tr>
                <tr>
                    <td>June 27, 2023</td>
                    <td>Applicant No. 7</td>
                    <td>Sample Job Title</td>
                    <td>For Technical Exam</td>
                </tr>
                <tr>
                    <td>June 28, 2023</td>
                    <td>Applicant No. 8</td>
                    <td>Sample Job Title</td>
                    <td>Deployed</td>
                </tr>
                <tr>
                    <td>June 29, 2023</td>
                    <td>Applicant No. 9</td>
                    <td>Sample Job Title</td>
                    <td>For Screening</td>
                </tr>
                <tr>
                    <td>June 30, 2023</td>
                    <td>Applicant No. 10</td>
                    <td>Sample Job Title</td>
                    <td>Onboarding</td>
                </tr>
                <tr>
                    <td>July 3, 2023</td>
                    <td>Applicant No. 11</td>
                    <td>Sample Job Title</td>
                    <td>Onboarding</td>
                </tr>
                <tr>
                    <td>July 4, 2023</td>
                    <td>Applicant No. 12</td>
                    <td>Sample Job Title</td>
                    <td>Onboarding</td>
                </tr>
            </table>
            <div class="status-pagination">
                <button class="status-prev-btn" onclick="statusPrevBtn()">prev</button>
                <ul class="status-pagination-list">
                    <li class="status-link active" value="1" onclick="setStatusActiveLink()">1</li>
                    <li class="status-link" value="2" onclick="setStatusActiveLink()">2</li>
                    <li class="status-link" value="3" onclick="setStatusActiveLink()">3</li>
                </ul>
                <button class="status-next-btn" onclick="statusNextBtn()">next</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-screen" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <p class="details">Applicant Details</p>
            <p class="close">&times;</p>
        </div>
        <form action="#">
            <div class="input-field">
                <input type="text" required>
                <label>Title</label>
            </div>
            <div class="input-field">
                <input type="text" required>
                <label>Description</label>
            </div>
            <div class="dropdown-field">
                <select id="experiences" name="experiences">
                    <option value="" disabled selected hidden>Required Experiences</option>
                    <option>Entry-level</option>
                    <option>Intermediate</option>
                    <option>Mid-level</option>
                    <option>Senior-level</option>
                </select>
            </div>
            <div class="input-field">
                <input type="text" required>
                <label>Preferred Skills</label>
            </div>
            <div class="dropdown-field">
                <select id="employment" name="employment">
                    <option value="" disabled selected hidden>Employment Type</option>
                    <option>Part-time Employment</option>
                    <option>Full-time Employment</option>
                    <option>Seasonal Employment</option>
                    <option>Temporary Employment</option>
                    <option>Leased Employment</option>
                </select>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="~/js/scheduler.js"></script>
<script type="text/javascript" src="~/js/pagination.js"></script>